
@import url('reset.css');

@charset "utf-8";
/* CSS Document */

html{
	font-family:'KISSWebDesignSocialLight',"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
body{
	font-family:'KISSWebDesignSocialLight',"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
a {
	text-transform: uppercase;
  color: #666;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  padding: 15px;
  transition: 0.1s linear;
}
::selection{background-color:#FFCB08; color:#fff;}
.menu ul li a:before{
	content:'[  ' ;
	-webkit-transition: -webkit-transform .3s,opacity .2s;
	-moz-transition: -moz-transform .3s,opacity .2s;
	transition: transform .3s,opacity .2s;
	-webkit-transform: translatex(20px);
	-moz-transform: translatex(20px);
	transform: translatex(20px);
	opacity:0;
}
.menu ul li a:hover:before{
	content:'[  ' ;	
	opacity:1;

	
}
.menu ul li a:after{
	content:'  ]';
	-webkit-transition: -webkit-transform .3s,opacity .2s;
	-moz-transition: -moz-transform .3s,opacity .2s;
	transition: transform .3s,opacity .2s;
	-webkit-transform: translatex(20px);
	-moz-transform: translatex(20px);
	transform: translatex(20px);
	opacity:0;
}
.menu ul li a:hover:after{
	content:'  ]';
	opacity:1;
	
}
.menu ul li{  
	transition: transform .3s,opacity .2s;
}
.menu ul li a:hover{color:#077844 !important;}
.menu ul li a{  font-weight:bold;}

.a {
    background-image: url("../imagens/fundo1024.png");
    background-repeat: repeat-x;
	  height: 20px;
}
.principal{
  background-color: #fff;
  box-shadow: 0px 5px 10px 0px #888888;
}
.fa-twitter{
  font-size: 30px;
   color: #fff;
}
.fa-twitter:hover{
	color:#469AE9;
}
.fa-facebook:hover{
	color:#344C8A;
}
.fa-facebook{
	font-size: 30px;
	color: #fff;
  padding-right: 15%;

}
.fa-search{
	font-size: 25px;
	color: #fff;
  padding-right: 15%;

}

/*@media (min-width:768px) and (max-width:844px){
.logo-cabecalho{
	right: 104px !important;
	float:none !important;
}
	
}*/
.logo-cabecalho{
  float: left;
  position: fixed;
  width: 90px;

}
.mt{margin-top:10px;}
.login{width:250px;}
.form-control {
  height: 36px;
  }
 .input-group-addon {
  padding: 9px 12px;
 }
 
th,td,table{border:1px solid #000;padding:5px;}
th{ background-color:#CCC;text-align:center;}
@media print{
	#cabecalho{display:none;}
	.espaco{display:none;}
}
@media (min-width: 768px){
.navbar-nav {
  float: left;
  margin-left: 107px !important;
  margin: 0;
}
}
.zerar-padding{padding:0px;}
.padding-5{padding:5px}
.arquivos p{ color: rgb(66, 173, 221);cursor:pointer;}
.arquivos p:hover, .arquivos p:active{ color:red; cursor:pointer;}
.btn-primary {
  color: #000 !important;
  background-color: #FFCB08 !important;
  border-color: #000 !important;
}
.btn-primary:hover {
  color: #000 !important;
  background-color:#fff !important;
  border-color: #000 !important;
}
.avisos{}
.tabela-avisos div{ border:1px solid #666;}

hr{  border-top: 1px solid #ccc !important;}
.cabecalho{background:#FFCB08; height:auto; overflow:auto;}
.branca{background-color:#fff;}