@charset "utf-8";

/*-------------------- inicio css reset - meyer reset --------------------*/

/** site de origem do aqruivo
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Dosis', sans-serif;
	color: #000;
	font-size: 90%;
	background-color: #FFF;
	margin-left:auto;
	margin-right:auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------- Final css reset - meyer reset --------------------*/

/*-------------------- tipo de compra --------------------*/

.mensagem {height:30px;}

#retorno {float:left;}

#carregando {height:19px; width: 295px; background-image:url(../imagens/loader.gif); background-position:left top; background-repeat: no-repeat; float:left;}

.opcoes-caixa {
	width: 180px;
	height: 105px;
	margin-top: 180px;
	text-align: center;
	padding-top: 10px;
	background-image: url(../imagens/seta.png);
	background-repeat: no-repeat;
	padding-right: 20px;
	float: left;
}

.opcoes-caixa-continuar {
	background: none;
	border: 0px;
	width: 180px;
	height: 95px;
	margin-top: 180px;
	background-image: url(../imagens/seta-continuar.png);
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
	}
	
	
#local-entrega-cd {
	width: 300px;
	height: 80px;
	margin-top: 20px;
	text-align: center;
	padding-top: 15px;
	border: thin dashed #999;
	cursor: pointer;
	background-color: #D1BF9B;
}

#consulto-localizado {
	float: left;
	width: 850px;
	height: 250px;
	margin-bottom: 40px;
	}
	
#endereco-cdh {
	margin-top: 20px;
	height: 20px;
	float: left;
	width: 100%;
}
	
.opcoes {
	text-align: left;
	padding-left: 15px;
	margin-top: 5px;
	font-size: 110%;
}

/*-------------------- conteudo formulário --------------------*/

.font-bold { font-weight: bold;}

a { text-decoration: none; color:#000; }

.imput_quant {
	border: 0;
	height: 30px;
	width: 30px;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 5px;
	background-image: url(../imagens/quant.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: -5px;
	}
	
.borda-totais {border: thin solid #E4BE94;}

.imput_codigo {
	border: 0;
	height: 30px;
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../imagens/codigo.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: -5px;
	}
	
.imput_consultor {
	border: 0;
	height: 30px;
	width: 161px;
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(../imagens/pesquisa-consultor.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: -5px;
	}

.button-finalizar-compra {
	background: none;
	border: 0px;
	height: 34px;
	cursor: pointer;
	background-image: url(../imagens/finalizar-compra.png);
	background-repeat: no-repeat;
	width: 178px;
	}
	
.button-add-item {
	background: none;
	border: 0px;
	height: 34px;
	cursor: pointer;
	background-image: url(../imagens/add-carrinho.png);
	background-repeat: no-repeat;
	width: 178px;
	}
		
	
.button-voltar {
	background: none;
	border: 0px;
	height: 31px;
	cursor: pointer;
	background-image: url(../imagens/voltar.png);
	background-repeat: no-repeat;
	width: 100px;
	}
	
.button-voltar-produtos {
	background: none;
	border: 0px;
	height: 34px;
	cursor: pointer;
	background-image: url(../imagens/voltar-produtos.png);
	background-repeat: no-repeat;
	width: 178px;
	}
	
.button-recomeca {
	background: none;
	border: 0px;
	height: 31px;
	cursor: pointer;
	background-image: url(../imagens/recomecar.png);
	background-repeat: no-repeat;
	width: 100px;
	}
		
.button-continuar {
	background: none;
	border: 0px;
	height: 31px;
	cursor: pointer;
	background-image: url(../imagens/continuar.png);
	background-repeat: no-repeat;
	width: 100px;
	}
	
.button-procurar {
	background: none;
	border: 0px;
	height: 34px;
	cursor: pointer;
	background-image: url(../imagens/procurar.png);
	background-repeat: no-repeat;
	width: 144px;
	margin-top: 0px;
	float: left;
	margin-left: 10px;
	}
	
	.button-efetuar-pagamento {
	background: none;
	border: 0px;
	height: 34px;
	cursor: pointer;
	background-image: url(../imagens/efetuar-pagamento.png);
	background-repeat: no-repeat;
	width: 178px;
	}
	
	
.botoes-caixa {left;
	width: 850px;
	clear: left;
	height: 40px;
	margin-top: 30px;
	float: left;
}
	

.titulo {
	background-color: #d1bf9b;
	padding-top: 5px;
	padding-bottom: 5px;
	;
	text-align: left;
	height: 25px;
	}
	
.titulo-int {
	width: auto;
	margin-left: 20px;
	font-size: 20px;
	
	}
	
.menu-top {
	height: 30px;
	width: 850px;
	float: left;
	padding-left: 10px;
	}


.conteudo-formulario {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 600px;
	}


.coluna-esquerda {
	width: 220px;
	height: 520px;
	float: left;
	display: block;
	border: thin solid #E4BE94;
	background-color: #D1BF9B;
	}
	
.coluna-direita {
	width: 600px;
	height: 285px;
	float: right;
	}
	
.coluna-tipo {
	width: 120px;
	height: 235px;
	float: left;
	border: thin solid #E4BE94;
	}

.coluna-tipo .categoria {
	width: 95%;
	float: left;
	padding-left: 5px;
	}
	
/*-------coluna onde serão listadas os tipo-------*/	
.coluna-tipo #list_cat {
	width: 120px;
	height: 200px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	margin-right: 5px;
	}	
	

.coluna-sub-tipo {
	height: 235px;
	float: left;
	margin-left: 7px;
	border: thin solid #E4BE94;
	width: 167px;
	}
	
/*-------coluna onde serão listadas os tipo-------*/	
.coluna-sub-tipo #list_sub_cat {
	width: 167px;
	height: 200px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	margin-right: 5px;
	}
	
.coluna-sub-tipo .categoria {
	width: 145px;
	float: left;
	padding-left: 5px;
	}

.coluna-codigo {
	width: 75px;
	height: auto;
	float: left;
	padding-left: 5px;
	text-align: center;
	}

	
.coluna-produtos {
	width: 287px;
	height: 235px;
	float: right;
	border: thin solid #E4BE94;
	margin-left: 7px;
	
	}

.coluna-produtos .produtos-lista {
	width: 287px;
	height: 200px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	margin-right: 5px;
	}

	
.coluna-produtos .produtos-descricao {
	width: 187px;
	float: left;
	}

.coluna-quantidade {
	width: 600px;
	height: 40px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	}
	
.coluna-carrinho {
	width: 600px;
	height: 220px;
	margin-top: 10px;
	float: right;
	border: thin solid #E4BE94;
	margin-right: 5px;
	}
	
.coluna-carrinho .carrinho-lista {
	width: 600px;
	height: 185px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	}

.coluna-carrinho .item {
	width: 30px;
	;
	float: left;
	border-right-width: thin;
	text-align: center;
	}

.coluna-carrinho .codigo {
	width: 70px;
	float: left;
	text-align: center;
	}

.coluna-carrinho .produto {
	width: 170px;
	float: left;
	}
	
.coluna-carrinho .valor {
	width: 80px;
	float: left;
	text-align: right;
	}
	
.coluna-carrinho .desconto {
	width: 60px;
	float: left;
	text-align: right;
	}
	
.coluna-carrinho .quant {
	width: 45px;
	float: left;
	text-align: right;
	padding-right: 5px;
	}
	
.coluna-carrinho .valor-total {
	width: 80px;
	float: left;
	text-align: right;
	}
	
.coluna-carrinho .remover {
	width: 35px;
	float: left;
	text-align: center;
	margin-left: 5px;
	}
	
	.coluna-carrinho .quant-add {
	width: 10px;
	float: left;
	}
	.coluna-carrinho .botao-adiciona {
	background: none;
	height: 10px;
	width: 10px;
	cursor: pointer;
	background-image: url(../imagens/butao-adiciona.png);
	background-repeat: no-repeat;
	border: 0px;
	}
	
	
	.coluna-carrinho .botao-delete {
	background: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
	background-image: url(../imagens/delete-icon.png);
	background-repeat: no-repeat;
	border: 0px;
	}

.coluna-carrinho .botao-subtrai {
	background: none;
	border: 0px;
	height: 10px;
	width: 10px;
	cursor: pointer;
	background-image: url(../imagens/butao-subtrai.png);
	background-repeat: no-repeat;
	margin-top:5px;
	}
	
	
.coluna-produtos-descricao {
	width: 296px;
	height: 235px;
	float: left;
	border: thin solid #E4BE94;
	}
	
.coluna-produtos-descricao .detalhes {
	margin: 5px; 10px; height: 125px; overflow:auto;
	}
	

.transferencia-coluna-kit-disponiveis {
	height: 300px;
	width: 990px;
	float: left;
	padding-left: 10px;
	clear: both;
	}

.transferencia-coluna-kit-disponiveis {
	height: 270px;
	width: 850px;
	float: left;
	padding-left: 10px;
	clear: both;
	}

.kit-col-esq {
	width: 830px;
	padding-bottom: 10px;
	height: 205px;
	float: left;
}

.kit-col-esq-lista {
	height: 180px;
	width: 420px;
	overflow: auto;
	float: left;
}

ul {
	margin: 0px;
	padding: 0px;
	}
	
ul li {
	width: 100%;
	min-height: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	clear:both;
	display: inline-block;
	text-align: left;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #E4BE94;
	
	}
	
ul li:hover {
	background-color: #EEE;
	
	}

.kit-col-esq .kit {
	width: 288px;
	float: left;
	padding-left: 5px;
}
.kit-col-esq .quantidade {
	width: 100px;
	float: left;
	text-align: center;
}

.cadastro-pendentes-col {
	height: 250px;
	width: 850px;
	float: left;
	padding-left: 10px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	}

.kit-col-dir {
	float: right;
	height: 180px;
	width: 350px;
}

.cadastro-caixa {
	width: 830px;
	height: 200px;
	margin-top: 20px;
	float: left;
	border: thin solid #E4BE94;
 }
 
.cadastro-caixa .cadastro-lista {
	width: 830px;
	height: 164px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	}

.cadastro-caixa .id {
	width: 100px;
	float: left;
	border-right-width: thin;
	text-align: center;
	}
	
.cadastro-caixa .data{
	width: 80px;
	float: left;
	}
	
.cadastro-caixa .nome {
	width: 200px;
	float: left;
	}
	
.cadastro-caixa .email {
	width: 200px;
	float: left;
	}
	
.cadastro-caixa .telefone{
	width: 100px;
	float: left;
	}

.cadastro-caixa .prazo-ativ {
	width: 120px;
	float: left;
	text-align: center;
	}

.tranferencia-efetuada-col {
	height: 250px;
	width: 830px;
	float: left;
	padding-left: 10px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	}

.tranferencia-efetuada {
	width: 830px;
	height: 200px;
	margin-top: 20px;
	float: left;
	border: thin solid #E4BE94;
 }
 
.tranferencia-efetuada .tranferencia-lista {
	width: 830px;
	height: 164px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	}
.tranferencia-efetuada .nome {
	width: 315px;
	float: left;
	padding-left: 5px;
	border-right-width: thin;
	}
	
.tranferencia-efetuada .email {
	width: 200px;
	float: left;
	}
	
.tranferencia-efetuada .telefone{
	width: 160px;
	float: left;
}

.fomas-pagamento {
	width: 600px;
	margin-right: 5px;
	float: right;
	min-height: 520px;
}


.novas-fomas-pagamento {
	width: 600px;
	min-height: 465px;
	margin-left: auto;
	margin-right: auto;
	
}



.formas-icones {
	width: 300px;
	height: 50px;
	float: left;
}

.seletor {
	float: left;
	height: 40px;
	padding-top: 10px;
	margin-left: 10px;
	width: 20px;
}	

.imagem-pag {
	float: left;
	height: 50px;
	width: 60px;
	text-align: center;
}	

.fomas-card-texto {
	height: 35px;
	padding-top: 10px;
	float: left;
	padding-left: 10px;
	width: 180px;
}

.divisao-cartao {
	width: 100%;
	border-bottom-width: thin;
	border-bottom-style: dashed;
	border-bottom-color: #D1BF9B;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 20px;
}


#cartao_dados {
	border: none;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}
/*-------------------- conteudo CHD locais --------------------*/

.cdh {
	width: 850px;
	height: 155px;
	margin-top: 10px;
	float: left;
	border: thin solid #E4BE94;
	margin-right: 5px;
	}
	

.cdh .cdh-lista {
	width: 850px;
	height: 120px;
	float: left;
	overflow: auto;
	margin-top: 1px;
	}

.cdh .cdh-nome {
	width: 340px;
	;
	float: left;
	border-right-width: thin;
	text-align: left;
	padding-left: 10px;
	}

.cdh .cidade {
	width: 150px;
	float: left;
	}

.cdh .estado {
	width: 50px;
	float: left;
	text-align: left;
	}
	
.cdh .telefone {
	width: 150px;
	float: left;
	text-align: left;
	}
	
.cdh .contato {
	width: 130px;
	float: left;
	text-align: center;
	}







/*-------------------- conteudo conferir pedido --------------------*/


	
.conferir-carrinho {
	width: 850px;
	height:auto;
	margin-top: 10px;
	float: left;
	border: thin solid #E4BE94;
	margin-right: 5px;
	clear: left;
	}
	

.conferir-carrinho .carrinho-lista {
	width: 850px;
	height: auto;
	float: left;	
	margin-top: 1px;
	}

.conferir-carrinho .item {
	width: 30px;
	;
	float: left;
	border-right-width: thin;
	text-align: center;
	}

.conferir-carrinho .codigo {
	width: 70px;
	float: left;
	}

.conferir-carrinho .produto {
	width: 290px;
	float: left;
	}
	
.conferir-carrinho .valor {
	width: 115px;
	float: left;
	text-align: right;
	}
	
.conferir-carrinho .desconto {
	width: 120px;
	float: left;
	text-align: right;
	}
	
.conferir-carrinho .quant {
	width: 100px;
	float: left;
	text-align: center;
	}
	
.conferir-carrinho .valor-total {
	width: 100px;
	float: left;
	text-align: right;
	}
	
.conferir-dados-compra {
	width: 850px;
	min-height: 270px;
	margin-top: 25px;
	float: left;
	border: thin solid #E4BE94;
	margin-right: 5px;
	}
	


.dados-col-esq {
	width: 400px;
	height: 155px;
	margin-top: 25px;
	float: left;
	margin-right: 5px;
	font-size: 110%;
	font-weight: bold;
	}
	
.dados-col-esq .dados-esq {
    float: left;
	width: 180px;
	padding-right:20px;
	text-align: right;
	margin-bottom:10px;
	}
	
.dados-col-esq .dados-dir {
	float: right;
	width: 200px;
	margin-bottom: 10px;
	}

.dados-col-dir {
	width: 400px;
	height: 155px;
	margin-top: 25px;
	float: right;
	margin-right: 5px;
	font-weight: bold;
	font-size: 110%;
	}



.dados-col-dir .dados-esq {
	float: left;
	width: 100px;
	padding-right: 20px;
	text-align: right;
	margin-bottom: 10px;
	}
.dados-col-dir .dados-dir {
	float: right;
	width: 280px;
	margin-bottom: 10px;
	}
	
	
.butao-espaco{
	width: 850px;
	height: 30px;
	margin-top: 5px;
	float: left;
	padding-bottom: 15px;
	}
	
/*-------------------- final conteudo conferir pedido --------------------*/

/*-------------------- conteudo pagamento --------------------*/
.pagamento{
	width: 850px;
	margin-top: 10px;
	float: left;
	border: thin solid #E4BE94;
	margin-right: 5px;
	min-height: 330px;
	}
	
.pagamento .dados {
	width: 850px;
	margin-top: 30px;
	}
	
.imput-formata {
	border: dashed thin;
	border-color: #999999;
	background-color: #D1BF9B;
	width: 175px;
}	

#contas-deposito {
	margin-left: 20px;
	height: auto;
	font-size: 110%;
	font-weight: 500;
}

#imprimir_boleto {
	heigth: 30px;
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 40px;
	float: left;
	margin-top:15px;
}

#imprimir_boleto a {
	color:#F00;
	
}




#cartoes {
	margin-left: 20px;
	height: auto;
	font-size: 110%;
	font-weight: 500;
	padding-bottom: 20px;
}
/*-------------------- final conteudo pagamento --------------------*/	

/*--------------------  conteudo resumo --------------------*/	
	
.resumo {
	width: 850px;
	min-height: 500px;
	margin-top: 10px;
	float: left;
	border: thin solid #E4BE94;
	margin-right: 5px;
	
	}	

.resumo ul {
	margin: 0px;
	padding: 0px;
	}
	
.resumo ul li {
	width: 100%;
	height: 20px;
	padding-top: 3px;
	float: left;
	display: inline-block;
	text-align: left;
	border: none;
	background: none;
	}	
	

.resumo .dados-col-esq {
	width: 450px;
	height: auto;
	margin-top: 25px;
	float: left;
	margin-right: 5px;
	font-weight: normal;
	}	

	
.resumo .dados-col-esq .dados-esq {
	float: left;
	width: 150px;
	padding-right: 20px;
	text-align: right;
	margin-bottom: 10px;
	}
.resumo .dados-col-esq  .dados-dir {
	float: right;
	width: 280px;
	margin-bottom: 10px;
	}	
	
.resumo .dados-col-dir {
	width: 370px;
	height: auto;
	margin-top: 25px;
	float: left;
	margin-right: 5px;
	font-weight: normal;
	}	

.resumo .dados-col-dir .dados-esq {
	float: left;
	width: 150px;
	padding-right: 20px;
	text-align: right;
	margin-bottom: 10px;
	}
.resumo .dados-col-dir  .dados-dir {
	float: right;
	width: 200px;
	margin-bottom: 10px;
	}	
/*-------------------- final conteudo resumo --------------------*/	


/*--------------------  conteudo entrega --------------------*/	
	
.entrega {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	float: left;
	margin-right: 5px;
	border-top-width: thin;
	border-top-color: #D1BF9B;
	padding-top: 10px;
	margin-bottom: 10px;
	}	

.entrega ul {
	margin: 0px;
	padding: 0px;
	}
	
.entrega ul li {
	width: 100%;
	height: 20px;
	padding-top: 3px;
	float: left;
	display: inline-block;
	text-align: left;
	border: none;
	background: none;
	}	
	

.entrega .dados-col-esq {
	width: 550px;
	height: 280px;
	margin-top: 5px;
	float: left;
	margin-right: 5px;
	font-weight: normal;
	}	

	
.entrega .dados-col-esq .dados-esq {
	float: left;
	width: 150px;
	padding-right: 20px;
	text-align: right;
	margin-bottom: 10px;
	}
.entrega .dados-col-esq  .dados-dir {
	float: left;
	width: 370px;
	margin-bottom: 10px;
	}	
	
.entrega .dados-col-dir {
	width: 370px;
	height: auto;
	margin-top: 25px;
	float: left;
	margin-right: 5px;
	font-weight: normal;
	}	

.entrega .dados-col-dir .dados-esq {
	float: left;
	width: 50px;
	padding-right: 20px;
	text-align: right;
	margin-bottom: 10px;
	}
.entrega .dados-col-dir  .dados-dir {
	float: right;
	width: 300px;
	margin-bottom: 10px;
	}	
	
.texto_vermelho{
	color:#F00;
}
/*-------------------- final conteudo entrega --------------------*/	
