body
{
    font-family: Tahoma;
}



#caixa1
{
    border: #666666 1px double;
    background-color: #ffcc66;
    width: 60%;
    font-size: 14px;
    font-weight: bold;
}

input
{
    border: #666666 1px solid;
    text-transform: none;
    background-color: #ffffff;
    color: #333333;
    font-size: 13px;
}


#caixa-pesquisar
{
    float: left;
    padding-left: 5px;
}

#caixa-pesquisar .title
{
    font-weight: bold;
    font-size: 13px;
    border-bottom: dashed 1px #ffcc66;
    width: 75%;
    margin-bottom: 10px;
    color: #333333;
}

#menuInfo
{
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #333333;
    text-decoration: none;
    width: 100%;
}

#menuInfo label
{
    font-weight: bold;
}

#menuInfo td
{
    width: 25%;
}


#menu
{
    font-size: 12px;
    letter-spacing: 0.15em;
    color: #333333;
    text-decoration: none;
}

#menu TD
{
    border-top: #ffcc66 1px solid;
    border-bottom: #ffcc66 1px solid; /*background-color: #ffcc66;*/
    text-align: center;

}

#menu A
{
    padding-bottom: 1px;
    padding-left: 1px;
    display: block;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: Black;
    text-decoration: none;
    padding-top: 3px;
}

#menu A:hover
{
    color: #ffcc66;
}

#menuColecao TD
{
    border-bottom: dashed 1px black;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

#menuColecao A
{
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #333333;
    text-decoration: none;
    width: 100%;
}

#menuColecao A:hover
{
    color: #ffcc66;
}

.bodyText
{
    line-height: 20px;
    text-transform: none;
    font-variant: normal;
    font-style: normal;
    margin-top: 0px;
    color: #000000;
    font-size: 14px;
    text-decoration: none;
}
.titulo
{
    font: bold 18px/26px Arial, Helvetica, "Tahoma";
    letter-spacing: 0.21em;
    color: #333333;
}
.subTitulo
{
    font: bold 14px/26px Arial, Helvetica, "Tahoma";
    letter-spacing: 0.21em;
    color: #333333;
}
.smallText
{
    text-transform: none;
    font: 10px;
    color: #000000;
    text-decoration: none;
}

.rodapeTitulo
{
    font: bold 11px;
    color: #000000;
}
.rodapeConteudo
{
    font: 11px;
    color: #000000;
}
.texto10
{
    text-transform: none;
    font: 10px;
    color: #333333;
    text-decoration: none;
}
.texto10N
{
    text-transform: none;
    font: bold 10px;
    color: #000000;
    text-decoration: none;
}
.texto10NVerde
{
    text-transform: none;
    font: bold 10px;
    color: #ffcc66;
    text-decoration: none;
}
.texto11
{
    text-transform: none;
    font: 11px;
    letter-spacing: 0.21em;
    color: #333333;
    text-decoration: none;
}
.texto11N
{
    text-transform: none;
    font: bold 11px;
    letter-spacing: 0.21em;
    text-decoration: none;
}
.texto12N
{
    font: bold 12px/15px;
    letter-spacing: 0.21em;
    color: #333333;
    text-decoration: none;
}
.texto12NVerde
{
    text-transform: none;
    font: bold 12px/15px;
    letter-spacing: 0.21em;
    color: #ffcc66;
    text-decoration: none;
}
.texto12
{
    text-transform: none;
    font: 12px;
    letter-spacing: 0.21em;
    color: #333333;
    text-decoration: none;
}
.texto14N
{
    font: bold 14px;
    letter-spacing: 0.21em;
    color: #333333;
    text-decoration: none;
}
.texto14NVerde
{
    font: bold 14px;
    letter-spacing: 0.21em;
    color: #ffcc66;
    text-decoration: none;
}
.texto16
{
    font: 16px;
    letter-spacing: 0.21em;
    color: #333333;
}
.texto16N
{
    font: bold 16px;
    letter-spacing: 0.21em;
    color: #333333;
}
.texto18N
{
    font: bold 18px;
    letter-spacing: 0.21em;
    color: #333333;
}
.menuInterno
{
    font: 11px;
    letter-spacing: 0.2em;
    color: #333333;
    text-decoration: none;
}
.menuInterno A
{
    letter-spacing: 0.1em;
    color: #333333;
    font-weight: bold;
}
.menuInterno A:hover
{
    letter-spacing: 0.1em;
    color: #333333;
}
