body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../imagens/bg_geral.jpg) repeat-x;
}
* {
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	outline:none;
}
.limpa_both {
	clear:both;
}
.flutua_esquerda{
	float:left;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration:underline;
}

/*
a:link:after, a:visited:after {
content: " (" attr(href) ") ";
font-size: 100%;
}
*/
.car_t1{
	text-align:left;
	font-size:16px;
	font-weight:bold;
	color:#f89000;	
}
.car_t2{
	text-align:center;
	color:#000000;
	font-size:11px;
}
.txt_car{
	margin:0px 2px 0px 2px;
}
.tit_cad{
	color:#f8b760;	
	font-weight:bold;
	text-decoration:none;
}


.topo{
	width:780px;
	height:109px;
	background:url(../imagens/bg_topo.jpg) no-repeat;
	float:none;
	clear:both;
}
.topo .botoes{
	width:220px;
	height:107px;
	float:right;
}
.topo .botoes .botao{
	position:relative;
	top:0px;
	width:220px;
	height:30px;
	float:right;
}
.topo .botoes .busca{
	position:relative;
	right:-1px;
	top:57px;
	width:220px;
	height:30px;
	float:right;
	background:url(../imagens/bg_header_busca.gif) no-repeat;
}
.topo .botoes .busca input{
	margin:2px 5px 0px 30px;
	*margin:1px 5px 0px 30px;
}
.topo .botoes .busca img{
	margin:0px 0px 0px 0px;
	*margin:3px 0px 0px 0px;
}
.main{
	background:url(../imagens/bg_conteudo.jpg) repeat-x;
	width:780px;
	float:none;
	clear:both;
}
.main .menutopo{
	width:701px;
	padding:8px 0px 0px 0px;
	height:50px;
}
.breadcrumb{
	margin:15px 0px -5px 0px;
	background:url(../imagens/risco.gif) left center no-repeat;
	width:560px;
	height:40px;
}
.main .banner{
	position:relative;
	top:30px;
	left:-10px;
	margin:0px 0px 20px 0px;
}

.main .menu{
	width:180px;
	min-height:500px;
	*height:500px;
	float:left;
	margin:0px 10px 0px 0px;
	*margin:0px 0px 0px 0px;
	padding:40px 5px 0px 0px;
	*padding:40px 0px 0px 0spx;
}
.main .menu .menu_cliente{
	margin-bottom:35px;
	padding:0px 0px 0px 20px;
	background:url(../imagens/bg_produtos.jpg) bottom left;	
}
.main .menu .menu_lista{
	/*position:relative;
	left:-20px;*/
	margin:0px 10px 0px 0px;
	padding:0px 0px 0px 20px;
	background:url(../imagens/bg_produtos.jpg) bottom left;	
	height:173px;
}
.main .menu ul{
	margin:10px 0px 0px 0px;
	list-style:none;
}
.main .menu li{
	white-space:nowrap;
	margin:2px 0px 0px 10px;
	*margin:2px 0px 0px 20px;
	list-style-image:url(../imagens/ico_seta.jpg);
}

.main .menu .menu_btn_enviar{
	margin:10px 0px 10px 0px;
	width:175px;
}
.main .menu .menu_kit{
	position:relative;
	left:-5px;
	background:url(../imagens/comece_ja_kit.jpg) no-repeat top center;	
	margin:10px 0px 10px 0px;
	padding:156px 0px 0px 0px;
	height:54px;
	*height:215px;
	width:191px;
	*width:191px;
}
.main .menu .menu_kit p{
	margin:0px 0px 0px 30px;
	font-weight:bold;
}
.main .menu .menu_kit img{
	margin:15px 20px 0px 0px;
	float:right;
}
.main .menu .menu_pagamento{
	width:160px;
	font-weight:bold;
	margin:20px 0px 20px 0px;
	*margin:10px 0px 10px 0px;
	line-height:20px;
}
.main .menu .menu_ofertas{
	margin:0px 10px 0px 18px;
	width:170px;
}
.main .menu .menu_virtual{
	width:170px;
}
.main .conteudo{
	position:relative;
	width:565px;
	height:auto;
	float:left;
	padding:0px 0px 0px 10px;
}
.rodape{
	background:url(../imagens/bg_rodape.jpg) repeat-x;
	height:110px;
	width:auto;
	float:none;
	clear:both;
	padding:40px 0px 0px 0px;	
}
.rodape p{
	margin:0px 0px 5px 0px;
}
.rodape .cor{
	color:#fabe08;
}
.subtitulo{
	background:url(../imagens/risco.gif) left center no-repeat;
	width:560px;
	height:40px;
	color:#f89000;
	font-size:14px;
	margin:30px 0px 0px 0px;
	font-weight:bold;
}
.subtitulolista{
	background:url(../imagens/risco.gif) left center no-repeat;
	width:560px;
	height:40px;
	color:#f89000;
	font-size:14px;
	margin:0px 0px 0px 0px;
	font-weight:bold;
}

/***********************************************/
.produtos{
	height:370px;
	width:262px;
	margin:10px 10px 20px 10px;
	*margin:10px 0px 25px 0px;
}
.produtos .imagens{
	width:251px;
	height:242px;
	padding:0px 0px 0px 20px;
	background-color:#CCCCCC;
}
.produtos .titulo{
	width:231px;
	*width:241px;
	height:65px;
	*height:75px;
	padding:0px 10px 10px 20px;
}
.produtos .titulo div{
	margin:0px 0px 10px 0px;
	text-transform:uppercase;	
	font-size:18px;
	color:#f89000;
	font-weight:lighter;
}

.produtos .preco{
	margin:0px 0px 10px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}
.produtos .botao{
	position:relative;
	padding:0px 0px 0px 20px;
	height:70px;
	width:150px;
	background:url(../imagens/bg_produtos.jpg) bottom left;
	border:solid 0px #FFFFFF;
}
/***********************************************/
.subprodutos{
	position:relative;
	left:-10px;
	height:250px;
	width:165px;
	margin:0px 5px 25px 10px;
	/*background-color:#f9f9f9;*/
}
.subprodutos .imagens{
	width:163px;
	height:110px;
}
.subprodutos .titulo{
	padding:10px 5px 10px 5px;
	width:auto;
	*height:75px;
	min-height:75px;
}
.subprodutos .titulo b{
	color:#f89000;
}
.subprodutos .preco{
	margin:0px 0px 10px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}
.subprodutos .botao{
	position:relative;
	padding:0px 0px 0px 10px;
}
/***********************************************/
.prod_dest{
	width:455px;
	margin:0px 10px 0px 10px;
	*margin:0px 10px 10px 10px;
	min-height:300px;
}
.prod_dest .imagens{
	width:120px;
	min-height:300px;
	*height:300px;
	float:left;
}
.prod_dest .conteudo{
	width:320px;
	min-height:300px;
	*height:300px;	
	float:left;	
}
.prod_dest .texto{
	min-height:200px;
	*height:200px;
	padding:10px 10px 10px 10px;
	width:auto;
}
.prod_dest .texto b{
	height:30px;
	margin:0px 0px 10px 0px;
	color:#f89000;
	font-size:16px;	
}
.prod_dest .preco{
	margin:0px 0px 10px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}
.prod_dest .botao{
	position:relative;
	padding:0px 0px 0px 10px;
}
/***********************************************/
.msg_p p{
	margin:5px 0px 5px 0px;
}
.input{
	border:solid 1px #FFCC33;
	margin:3px 0px 3px 0px;
	font-size:12px;
	height:18px;	
}
.W200{
	width:200px;
}
.W115{
	width:115px;
}
.W90{
	width:90px;
}
.W40{
	width:38px;
	text-align:center;
}
div{
	/*border:solid 1px #FF0000;*/
}
/***********************************************/
.paginador{
	margin:20px 0px 20px 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.paginador a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
.paginador select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:40px;
}

/***********************************************/
.texto_laranja{
	color:#f89000;
}
.texto_vermelho {
	color: #FF0000
}
.btn_logo{
	width:180px;
	height:100px;
	float:left;
}
.MsgAlert{
	display:none;
	color:#FF0000;
}
.texto_pedido{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
.conteudo_texto{
	margin-left:20px;
	margin-bottom:20px;
	width:500px;
	line-height:17px;
}
.conteudo_texto ul{
	margin-bottom:20px;
	margin-left:25px;
}
.deposito{
	margin:20px 0px 0px 20px;
	line-height:20px;
	width:340px;
}
.deposito h1{
	margin:20px 0px 0px 0px;
	*margin:10px 0px 0px 0px;
	font-size:16px;
	font-weight:bold;
}
.deposito strong{
	text-transform:capitalize;
}
.deposito p{
	margin:10px 0px 10px 0px;
}
.deposito a{
	margin:10px 40px 0px 0px;
	float:right;
}
.lista_cep{
	width:640px;
	margin:10px 40px 0px 0px;
}
.lista_cep .titulo{
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	background-color:#FF9900;	
}
.lista_cep a{
	white-space:nowrap;
	margin:20px 0px 0px 0px;
}