/* 
    Document   : hinode
    Created on : 26/02/2014, 20:01:06
    Author     : Rafael
    Description:
        Purpose of the stylesheet follows.
*/
.box-slide{
    width: 100%;
    max-width: 950px;    
}
.slide { 
    list-style: none;
    width: 100%;
    margin: 0;
}
.bt-slide{
    background: #ededed!important;
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f4f4f4),to(#e6e6e6))!important;
    background-image: -webkit-linear-gradient(top,#f4f4f4,0%,#e6e6e6,100%)!important;
    background-image: -moz-linear-gradient(top,#f4f4f4 0,#e6e6e6 100%)!important;
    background-image: linear-gradient(to bottom,#f4f4f4 0,#e6e6e6 100%)!important;
    background-repeat: repeat-x!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4',endColorstr='#ffe6e6e6',GradientType=0)!important;
    color: #5a5a5a!important;
    text-shadow: 0 1px 1px #EEE!important;
    display: inline-block;
    width: 30px;
    font-size: 10px;
    font-weight: normal;
    color: #FFF;
    text-align: center;
    text-shadow: 0 -1px -1px rgba(0,0,0,0.2)!important;
    border: 0;
    border-radius: 3px;
    padding: 5px 0 8px;
    margin: 2px;
    line-height: 1.7;
    height: 25px;
}
.bt-slide.left{
    position: absolute;
    left: 15px;
    bottom: 5px;
    z-index: 100;
}
.bt-slide.right{
    position: absolute;
    right: 15px;
    bottom: 5px;
    z-index: 100;
}

.seminarios{
    list-style: none;
    width: 100%;
    margin: 0;
}

.seminarios .data{
    margin-bottom: 10px;
    height: 26px;
    padding-top: 6px;
}

.graduacao .profile-picture{
    border: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.navbar {
    background: none repeat scroll 0 0 #605F5D;
}

.seminarios-box{
    width: 100%;
    height: 210px;
    /*overflow: hidden;*/
    position: relative;
    /*border: 1px solid #eee;*/
}

.nav-seminario{
    float: left;
    width: 100%;
}

#seminarios{
    list-style: none;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
#seminarios li{
    float: left;
    width: 178px;
    height: 210px;
    border-right: 1px solid #eee;
    padding: 0 10px;
    /*margin: 0 10px;*/
    background: #fff;
}
#seminarios h5{
    text-align: center;
}
#seminarios .foto{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
    height: 80px;
}
.seminarios-box .pager{
    margin: 0;
    margin-top: 10px;
    padding: 0 42px 0 32px;
}
#seminarios li .info{
    padding-top: 10px;
}
#seminarios li .info p{
    margin: 0;
    text-align: center;
}
.widget-box.universo-hinode{
    border:1px solid #e6e6e6;
    padding: 10px;
}

.itemConsultor > .body {
    margin-left: 0px;
    margin-right: 12px;
    position: relative;
    width: auto;
}
.itemdiv > .user-reconhecimento{
    display: inline-block;
    left: 0;
    position: absolute;
    width: 42px;
}
.itemdiv > .graduacao{
    display: inline-block;
    left: 100px;
    position: absolute;
    width: 42px;
}
.itemdiv > .user-reconhecimento > img {
    border: 2px solid #5293C4;
    max-width: 95px;
    position: relative;
}
.itemdiv > .graduacao > img {
    border: 0px;
    max-width: 58px;
    position: relative;
}
#comment-tab .text a  {
    color: #777;
    text-decoration: none;
}
#comment-tab .text a:hover  {
    color: #777;
    text-decoration: underline;
}

.bx-wrapper div.bx-controls-direction a {
    z-index: 99;
}

div.widget-box {
    border-bottom: 0;
}

div.widget-box  img{
    /*max-height: 228px;*/
}

#lista-de-pedidos .itens-pedido{
	display:none;
	background: none repeat scroll 0 0 #BBBBBB;	
}

#lista-de-pedidos .itens-pedido td:hover{
	background: none;	
}

#lista-de-pedidos tr .pedido-selecionado{
	background: none repeat scroll 0 0 #BBBBBB;
}
#lista-de-pedidos tr .pedido-selecionado a{
	color:#fff;
}

@media (max-width: 1200px){
    div.widget-box  img{
        max-height: 190px;
    }
}

@media (max-width: 1015px){
    div.widget-box  img{
        max-height: 142px;
    }
}