/* Global Styles */
<!--


#menu td {
	border-bottom: 1px solid #FFFFFF; /* Bordas do Menu */
	}  
	
#menu a {
	font: bold 11px "Tahoma";
	color:#90C844; /* LETRA DO MENU LATERAL ESQUERDO */
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:10px 0px 10px 10px;
	}
	
#menu a:hover {
    background:#BDDE8F;
	color:#FFFFFF;
	}
	

.txt{
     font-family: "Tahoma"; 
	 font-size:12px; 
	 font-style: normal;
	 font-weight: none;
	 background-color: #FFFFFF;
	 border: 1px solid #666666;
	 color:#333333;
	 text-transform:none;
	 }

.btn{
     font-family: "Tahoma"; 
	 font-size:12px; 
	 font-style: normal;
	 font-weight: none;
	 background-color: #FFFFFF;
	 border: 1px solid #666666;
	 color:#333333;
	 text-transform:none;
	 }	 
		

	
/* Class Styles */
	
.bodyText {
	font:14px "Tahoma";
	color:#000000;
    line-height:20px;
	margin-top:0px;
	text-decoration:none;
	text-transform:none;
	font-weight:none; 
	}

	
.titulo{
	font: 18px Arial, Helvetica, "Tahoma";
	color:#333333;
	line-height:26px;
	letter-spacing:.21em;
	font-weight:bold;
	}
	
	.subTitulo{
	font: 14px Arial, Helvetica, "Tahoma";
	color:#333333;
	line-height:26px;
	letter-spacing:.21em;
	font-weight:bold;
	}
	

.smallText {
	font: 10px  "Tahoma";
	color:#000000;
	
	text-decoration: none;
	text-transform:none;
	}
	
.menuLink {
	font: 11px "Verdana";
	color: #003366;
	text-decoration: none;
	}
	
	
		
.rodapeTitulo {
	font:11px "Tahoma";
	color:#000000;
	font-weight:bold;
	}
	

.rodapeConteudo {
	font:11px "Tahoma";
	color:#000000;
	}

.texto10 {
	font: 10px "Tahoma";
	color:#333333;
	text-decoration:none;
	text-transform:none;
	}
	
.texto10N {
	font: 10px "Tahoma";
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	text-transform:none;
	}
	
.texto11 {
	font: 11px "Tahoma";
	color:#333333;
	letter-spacing:.21em;
	text-decoration:none;
	text-transform:none;
	}
	
.texto11N {
	font: 11px "Tahoma";
	color:#333333;
	letter-spacing:.21em;
	text-decoration:none;
	text-transform:none;
	font-weight:bold;
	}

.texto12N {
	font: 12px "Tahoma";
	color:#333333;
	line-height:15px;
	letter-spacing:.21em;
	font-weight:bold;
	text-decoration:none;
	}
	
.texto12 {
	font: 12px "Tahoma";
	color:#333333;
	letter-spacing:.21em;
	text-decoration:none;
	text-transform:none;
	}
	
.texto14N {
	font: 14px "Tahoma";
	color:#333333;
	letter-spacing:.21em;
	font-weight:bold;
	text-decoration:none;
	}
	
.texto16N{
	font: 16px "Tahoma";
	color:#333333;
	letter-spacing:.21em;
	font-weight:bold;
	}	
	
.texto18N{
	font: 18px "Tahoma";
	color:#333333;
	letter-spacing:.21em;
	font-weight:bold;
	}	
	
	 
	 
.menuInterno {
	font:11px "Tahoma";
	color:#333333;
	letter-spacing:.2em;
	text-decoration:none;
	}
	
.menuInterno a {
	color:#333333;
	font-weight:bold;
	letter-spacing:.1em;
	}
	
.menuInterno a:hover {
	color:#333333;
	letter-spacing:.1em;
	}
	
 .td
 {
 background-color:#D3EAB5;
 }




	 
-->