@charset "utf-8";
/* CSS Document */

body{
	background: #FFF;
	font-family:Verdana, Geneva, sans-serif;
}

#rodape{
	width: 100%;
	height: 115px;
	margin:100px 0px 0px 0px;
	background-size: auto;
}

#contato_rodape{
	width:550px;
	margin:auto;
}

#contato_rodape p{
	color:#000;
	margin-top:-30px
}

#centro_total_cad{
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#conteudo_central_cad{
	width:1100px;
	height:auto;
	margin:auto;
}

#topo_geral1000{
	width:998px;
	height:55px;
	margin:auto;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;   
}

#topo_1{
	width:auto;
	height:auto;
	float:left;
	margin-left:20px;
}

#topo_desc2{
	width:auto;
	height:auto;
	float:left;
	margin-left:20px;
	margin-top:15px;
	margin-left:100px;
}

#icones2{
	width:auto;
	height:55px;
	margin-left:765px;
}

#desc_atividade{
	margin-top:18px;
	margin-left:150px;
	width:95px;
	height:20px;
	float:left;
}

/*Relatórios 750px*/

#topo_geral750{
	width:750px;
	height:55px;
	margin:auto;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#topo_750{
	width:auto;
	height:auto;
	float:left;
	margin-left:5px;
}

#topo_desc750{
	width:auto;
	height:auto;
	float:left;
	margin-left:15px;
	margin-top:15px;
}

#desc_atividade750{
	margin-top: 15px;
	margin-left: 65px;
	width: 95px;
	height: 20px;
	float: left;
}

#icones750{
	width:auto;
	height:55px;
	margin-left:0px;
}

#icones{
	width:auto;
	height:55px;
	margin-left:500px;
}





#topo_desc750{
	width:auto;
	height:auto;
	float:left;
	margin-left:20px;
	margin-top:15px;
}

