
ul li {
    list-style: none;
}
 
li a {
    
    float: left;
    font-size: 20px;
    padding: 5px;
    margin-top: -15px;
    margin-left: 28px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -o-transform: scale(0.75);     
    vertical-align: bottom;   
}

li a:visited {
	
	color:#000;
		
	}

a:active{
    color: #000;
} 
a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

li a:hover {
    color: #7eb9be;
    
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);    
}
th{
  font-family: Verdana;
  font-size: small; 
  color: Black ;
  background-color : #E4E4E4;
  text-align: center;
} 
#fieldset { 
    padding: 20px 10px 20px 10px; 
    width: 1000px;
    height: 100px;
    float: left;
    outline: 1px solid #000;
    position: relative;
    left: 50%;
   
} 
legend {
    font-style: normal;
    font-size: 25px;
}

.linha 
{
    text-align: left;
    padding-top: 10px; 
    padding-left: 20px;
} 
#cabecalho        
{
    width: 998px;
    height: 125px;
    outline: 1px solid #000;
    position: relative;
    float: left;
    left: 50%;
    
    margin-left: -499px;
}    
.menu
{
    width: 998px;
    position: absolute;
    left: 40%;
    margin-left: -400px;
    text-align : center;
} 
.conteudo
{
    width: 998px;
    position: absolute;
    float: left; 
    left: 50%;
    padding-top: 10px;
    margin-top: 58px;
    margin-left: -499px;
    text-align : left;
}
/*Classes para alinhar as td Nilson 12/12/2014*/
.numerico
{
    text-align:right;
    font-family:Verdana;
    font-size:small;
}

.numero
{
    text-align:center;
    font-family:Verdana;
    font-size:small;
}

.texto
{
    text-align:left;
    font-family:Verdana;
    font-size:small;
} 
/*Fim das classes para alinhamento das td */    
br
{
    clear: left;
}

#form1 label
{
    font-family: verdana; 
    font-size: 2;
}
#pop
{
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-150px;
    margin-top:-100px;
    padding:10px;
    width:300px;
    height:200px;
}
