    #form1 fieldset { 
        padding: 20px 10px 20px 10px; 
    } 
    .linha 
    {
        text-align: left;
        padding-top: 10px; 
        padding-left: 20px;
    } 
    br{
        clear: left;
    }
    #form1 label{
        font-family: verdana; 
        font-size: 2;
    }
    .numerico
    {
        text-align:left;
        font-family:Verdana;
        font-size:2;
    }
