@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	
}

#header_hi{
	width:100%;
	height:100px;
	background:#E3CCAA;
}

#logo_hi{
	width:153px;
	height:81px;
	margin-left:140px;
	padding-top:15px;
	float:left;
}

#bem_vindo{
	margin-top:70px;
	margin-right:610px;
	float:right;
}

#bem_vindo p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#444444;
}

#sair{
	width:65px;
	height:20px;
	float:right;
	margin-top:70px;
	margin-right:-825px;
}

#conteudo_total{
	width:90%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

#painel_menu{
	width:100%;
	height:auto;
	margin:auto;
	
}

#aplicacao{
	width:100%;
	height:auto;
	margin-left:120px;
	margin-bottom:20px;
	margin-top:20px;
	
}

#aplicacao p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:22px;
	color:#444444;	
}

#escolher{
	float:right;
	margin-right:-750px;
	margin-bottom:0px;
	margin-top:15px;
}

#form{
	margin-left:25px;
	margin-top:-10px;	
}

#menu_principal{
	font-family:Verdana, Geneva, sans-serif;
	color:#444444;
	font-size:12px;
	height:650px;
}

#menu{
	width:23%;
	height:130px;
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
}

#menu p{
	font-size:14px;
}

#menu a{
	text-decoration:none;
	color:#444444;
}

#menu a:hover{
	text-decoration:none;
	color:#F00;
}

#menu_img{
	float:left;
}

#menu_desc{
	float:left;
	margin-left:15px;
}

#menu2{
	width:95%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	border: 1px solid #E3CCAA;
}

#menu2{
	width:95%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;;
}

#conteudo_menu{
	width:100%;
	height:100px;
}

#lista_ord{
	margin-left:25px;
}

#avisos{
	width:50%;
	height:250px;
	margin-left:auto;
	margin-right:auto;
}

#bloco_esq{
	width:100%;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	float:left;
}

#bloco_dir{
	width:50%;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	float:left;
}

#footer{
	background:#b18a2e;
	width:100%;
	height:100px;
	margin-top:auto;
}